<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeonetAutoAuthentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LeonetAutoAuthentication.Properties.Settings>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestURL" serializeAs="String">
                <value>http://#GATEWAY#/login.cgi</value>
            </setting>
            <setting name="ViewMillisecond" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="WaitMillisecond" serializeAs="String">
                <value>30000</value>
            </setting>
        </LeonetAutoAuthentication.Properties.Settings>
    </userSettings>
</configuration>